<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Desafio MáximaTech</title>
  </head>
  <body style="background-image: url('assets/rota.jpg')">
    <header>
      <div class="row">
        <div class="logo">
          <img src="assets/logo.png" alt="oe_logo" />
        </div>
        <ul class="main-nav">
          <li class="active"><a href="">HOME</a></li>
          <li><a href="" routerLink="/map">VER MAPA DE CLIENTES</a></li>
          <li><a href="" routerLink="/registration">CADASTRAR CLIENTE</a></li>
        </ul>
      </div>
      <div class="hero">
        <h1>Controle de Cadastro de Clientes e Localização Geográfica</h1>
        <div class="button"></div>
      </div>
    </header>
  </body>
</html>
